@import './blocks.scss';
// place your custom styles here

// html[data-theme='light'] #app {
//   --code-color: #686868;
//   --code-line-color: rgba(63, 64, 66, 0.67);
//   --code-c-bg: #f0f5ee;
//   --code-border-color: #e2ebde;
//   --code-highlight-line-color: #d3def5;
// }

html[data-theme='light'] #app {
  --code-color: #686868;
  --code-line-color: rgba(63, 64, 66, 0.67);
  --code-c-bg: #f1f5ed;
  --code-tabs-c-bg: #dce0dc;
  --code-highlight-line-color: #d3e6d3;
}

html #app {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    i,
    .font-icon.icon {
      color: var(--theme-color-darker);
    }
    color: var(--theme-color-dark);
  }
  .nav-item a,
  .nav-item button,
  .nav-link.active,
  .vp-breadcrumb a,
  #toc .toc-item.active .toc-link {
    color: var(--theme-color-dark);

    i,
    .font-icon.icon {
      color: var(--theme-color-darker);
    }
  }

  .theme-hope-content a {
    color: var(--theme-color-dark);
  }
}
