.spoiler {
}

.spoiler-btn:hover {
  cursor: pointer;
  color: $accentColor;
}
.spoiler-btn-bottom {
  width: 100%;
  text-align: right;
}

.spoiler-body {
  display: none;
}

#content {
  max-height: 640px;
  width: 100%;
  max-width: 570px;
  margin: 0 auto;
}